.board-space {
    margin: 40px 0 0 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 10px 0 40px 0;
    font-size: 1.4em;
    font-family: sans-serif;
    min-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #33d286;
    color: #ffffff;
    text-align: left;
}

.styled-table thead tr th {
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #33d286;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #33d286;
}

.styled-table tbody tr.bad-row {
    font-weight: bold;
    color: #AA2B1D;
}

.styled-table tbody tr.good-row {
    font-weight: bold;
    color: #383E56;
}

.styled-table tbody tr.queer-row {
    font-weight: bold;
    color: #FB9300;
}

.action-button {
    padding: 6px 16px;
    background: #33d286;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 11px;
}

.action-button:hover {
    background: #fb9300;
}

.table-config {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-holder {
    padding: 0 10px;
    display: flex;
    justify-content: start;
}

.view-button {
    background: #29BB89;
}

.view-button:hover {
    background: #33d286;
}

.accept-button {
    background-color: #4B778D;
}

.accept-button:hover {
    background: #28B5B5;
}

.cancel-button {
    background-color: #C84B31;
}

.cancel-button:hover {
    background: #F55C47;
}

.revert-button {
    background: #F58634;
}

.deliver-button {
    background: #383E56;
}

.deliver-button:hover {
    background: #9FB8AD;
}

.sort > label {
    font-size: 20px;
    padding: 0 10px 0 0;
}

.popopen {
    display: none
}

.popopen.active {
    z-index: 2;
    width: 100%;
    height: 120%;
    top: 0;
    background: #C5D7BDc0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.popopen-content {
    opacity: 100%;
    margin-top: -15%;
    background: white;
    padding: 25px 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.sort-label {
    font-size: 18px;
    padding-right: 41px;
}

.search-label {
    font-size: 18px;
    padding-right: 25px;
}

.sort-choice {
    padding: 7px 13px;
    font-size: 16px;
}

.popup-buttons {
    margin: 35px 0 10px 0;
    display: flex;
    justify-content: space-around;
}

.popup-buttons > button {
    padding: 7px 17px;
    font-size: 15px;
}

.popup-buttons > button:hover {
    padding: 7px 17px;
    font-size: 15px;
}

th:hover {
    color: #F58634;
    cursor: pointer;

}

.hyper-values {
    display: flex;
}

.display-box {
    text-align: center;
    background: #F55C47;
    border: 1px solid #99999990;
    font-size: 16px;
    padding: 7px 5px 7px 15px;
    margin-right: 4px;
    border-radius: 5px;
    color: white;
    display: flex;
    font-weight: bold;
    align-items: baseline;
}

.display-value {
    margin-right: 5px;
}

.close {
    cursor: pointer;
    color: #BF1363;
}

.close:hover {
    color: #FFF5EB;
}

.naviagte-buttons {
    margin-bottom: 20px;
}

.align-label {
    height: 100%;
}

.with-area {
    display: flex;
    margin-top: 16px;
}

.t-ara {
    padding: 5px;
}

.popopen .popopen-content.long {
    overflow-y: scroll;
    max-height: 75%;
    margin-top: -10%;
}

.popopen .entry {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.popopen .popopen-title {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #29BB89;
    margin: 0 0 11px 0;
}

.custom-choice {
    width: 62%;
    margin-top: 20px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.upload-input {
    max-width: 240px;
}

.sentry-looker {
    align-items: baseline;
}

.entry.sentry-looker {
    margin-top: 20px;
}

.upload-img-preview-holder {
    max-width: 239px;
    max-height: 239px;
    margin: 7px 0;
}

.consec-button-zone {
    max-width: 242px;
    flex: 1;
}

.remove-able-button {
    font-size: 12px;
    display: initial;
    padding-left: 6px;
    margin-bottom: 3px;
}

.small-close {
    padding-left: 5px;
}

.small-color-box {
    width: 30px;
    height: 30px;
}

.additional-adder {
    margin-top: 5px !important;
}

.additional-adder::-webkit-input-placeholder {
    font-size: 14px;
}

.additional-adder::-moz-placeholder {
    font-size: 14px;
}

.additional-adder:-ms-input-placeholder {
    font-size: 14px;
}

.additional-adder:-moz-placeholder {
    font-size: 14px;
}

.grand-container {
    max-width: 242px;
}

.danger-file-size {
    color: red
}

.color-entry, .size-entry{
    line-height: 18px;
}
