.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 178px;
    background-color: #F4CCA4;
    padding: 7px 9px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 17px;
    line-height: 20px;
    text-align: start;
    color: #000000;
}

.tooltip .tooltiptext.freedom-img {
    background: none !important;
    width: 40px;
    height: auto;
}

.tooltip .tooltiptext.freedom-img > img {
    max-width: 70px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}